<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Selecione</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="tasks.length === 0">
        <td colspan="4" class="text-center">Nenhuma tarefa encontrada.</td>
      </tr>
      <tr *ngFor="let task of tasks" [ngClass]="{'highlight-pedente': task.status === 'pendente'}">
        <td>
          <input type="radio" name="selectedTask" (change)="onSelectTask(task)"  class="radioStyle"/>
        </td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status | uppercase }}</td>
      </tr>
    </tbody>
  </table>
</div>