<div *ngIf="loading" class="loading">
  <app-loading></app-loading>
</div>
<div class="container mt-5 margin" *ngIf="loading==false">
  <h1 class="text-center mb-4">Lista de Tarefas</h1>

  <div class="row align-items-center mb-3">
    <div class="col-md-9">
      <div class="form-group">
        <label for="statusFilter">Filtrar por Status:</label>
        <select id="statusFilter" class="form-control" [(ngModel)]="statusFilter" (change)="filterTasks()">
          <option value="">Todos</option>
          <option value="pendente">Pendente</option>
          <option value="realizado">Realizado</option>
          <option value="em andamento">Em Andamento</option>
        </select>
      </div>
    </div>

    <div class="col-md-3 text-end">
      <div role="group">
        <button type="button" class="btn btn-primary" routerLink="/add" title="Novo">
          <i class="fa fa-file"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteSelectedTask()" title="Deletar" [disabled]="!selectedTask">
          <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary" title="CSV/Excel" (click)="exportCSV()">
          <i class="fa-solid fa-file-csv"></i>
        </button>
        <button type="button" class="btn btn-danger" *ngIf="selectedTask" title="Editar" [routerLink]="['/edit', selectedTask.id]">
          <i class="fa fa-edit"></i>
        </button>
      </div>
    </div>
    

  <app-tasks-grid [tasks]="filteredTasks" (selectTask)="selectTask($event)"></app-tasks-grid>
</div>